<div class="wrapper">
  <div class="title">
    <h1>EMERGENCY COMPLIMENT</h1>
  </div>

  <div class="compliment">
    <h4><%= @compliment.message %></h4>
    <p><img src="<%= @compliment.image %>"></p>
  </div>
</div>