<div class="center">
  <%= simple_partial :_compliment %>
  <p><a href="/" class="btn btn-large btn-custom">Still feeling down? Click me!</a></p>
  <p><a href="/<%= @message %>/<%= @compliment.image %>">Share</a></p>
</div>